@{
    ViewBag.Title = "Yay! Let's Connect! - Vasilis Softsis";
}
<div id="parallax-world-of-ugg">
    <section>
        <div class="parallax-five">
            <h2 id="homecaptions" class="pop">CONNECTING IS FUN!</h2>
        </div>
    </section>

    <section style="color:ghostwhite!important;     background-color: #0e151f;">
        <div class="block" style="        background-color: #0e151f;">
            <h1 style="text-align:center;">
                <br />
                <strong style="color:ghostwhite!important;" id="underpic-text2">Hi!<br />I'm Petros!<br />Let's Connect!</strong><hr />
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <img style="background-color:ghostwhite;" id="myimages" alt="Petros Pietris" src="~/Resources/Images/chat-bubble.png" />
                                </div>
                                <div class="col-md-4">
                                    <img style="background-color:ghostwhite;" id="myimages" alt="Petros Pietris" src="~/Resources/Images/linkedin.png" />
                                </div>
                                <div class="col-md-4">
                                    <img style="background-color:ghostwhite;" id="myimages" alt="Petros Pietris" src="~/Resources/Images/phone.png" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <p style="        text-align: center;">
                                        <hr /><strong style="text-transform: capitalize;color: ghostwhite !important;" id="underpic-text2">by e-mail</strong>
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p style="        text-align: center;
                                                      color: ghostwhite !important;">
                                        <hr /><strong style="text-transform: capitalize;color: ghostwhite !important;" id="underpic-text2">Via LinkedIN</strong>
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p style="        text-align: center;
                                                      color: ghostwhite !important; ">
                                        <hr /><strong style="text-transform: capitalize;color: ghostwhite !important;" id="underpic-text2">by phone</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <a type="button" id="LetsConnectButton" class="btn btn-secondary btn-block btn-lg" style="color:whitesmoke;" href="mailto:pietrisdimpetros@gmail.com?subject = Recommendations = Message" ", target="_blank"> Email</a>
                                    <br />
                                </div>
                                <div class="col-md-4">
                                    <a type="button" id="LetsConnectButton" class="btn btn-secondary btn-block btn-lg" style="color:whitesmoke;" onclick="window.open('https://www.linkedin.com/in/pietrisdimpetros/' , '_blank') "> Connect</a>
                                    <br />
                                </div>
                                <div class="col-md-4">
                                    <a type="button" id="LetsConnectButton" class="btn btn-secondary btn-block btn-lg" style="color:whitesmoke;" href="tel:000-000-0000" , target="_blank"> Dial</a>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h1>
        </div>
    </section>

    <section>
        <div class="parallax-six">
            <dl>
                <dt><h2 id="pulses">CONNECT MORE</h2></dt>
                <dt><h2 id="pulses">SOCIALIZE MORE</h2></dt>
                <dt><h2 id="pulses">LOVE MORE</h2></dt>
            </dl>
        </div>
    </section>
</div>
