@{
    ViewBag.Title = "About Us";
}
<div id="parallax-world-of-ugg">
    <section>
        <div class="parallax-four">
            <h2 id="homecaptions" class="pop ">The SCANIT Team</h2>
        </div>
    </section>
    <section>
        <div class="block">
            <h1 style="text-align:center;"><strong>About Us</strong></h1>
            <br />
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-4 text-lg-center">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img id="myimages" alt="Timos Valais" src="~/Resources/Images/timos.jpg" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4" id="underpic-text">
                                            <p>
                                                <hr>Founder of ScanIT & Junior Software Engineer
                                            </p><p>
                                                <br>Student at
                                                PeopleCert's Coding Bootcamp<br>
                                                <strong> Let's start programming!</strong>
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                        <div class="col-md-4" id="underpic-text">
                                            <p style="text-align:center"><hr /><strong>Let's keep learning, exploring and innovating until we perfect AI.</strong></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" id="LetsConnectButton" class="btn btn-secondary btn-block btn-lg">
                                                @Html.ActionLink("Let's Connect!", "About_Timos", "Home")
                                            </button><br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-lg-center">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img id="myimages" alt="Petros Pietris" src="~/Resources/Images/pietrispetros.jpg" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4" id="underpic-text">
                                            <p>
                                                <hr>Founder of ScanIT & Junior Software Engineer
                                            </p><p>
                                                <br>Student at
                                                PeopleCert's Coding Bootcamp<br>
                                                <strong> eyes focused on my goals!</strong>
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                        <div class="col-md-4" id="underpic-text">
                                            <p style="text-align:center"><hr /><strong>Ambitious, organized, openminded and free spirited. Front-End Designer of ScanIT and Entity Framework Back-End Developer</strong></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" id="LetsConnectButton" class="btn btn-secondary btn-block btn-lg">
                                                @Html.ActionLink("Let's Connect!", "About_Petros", "Home")
                                            </button><br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-lg-center">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img id="myimages" alt="Vasilis Softsis" src="~/Resources/Images/will.jpg" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4" id="underpic-text">
                                            <p>
                                                <hr>Founder of ScanIT & Junior Software Engineer
                                            </p><p>
                                                <br>Student at
                                                PeopleCert's Coding Bootcamp<br>
                                                <strong> eyes focused on my goals!</strong>
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                        <div class="col-md-4" id="underpic-text">
                                            <p style="text-align:center"><hr /><strong>Εάν δεν κολατσίσω αυτήν την ώρα, μου κόβονται τα πόδια!</strong></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" id="LetsConnectButton" class="btn btn-secondary btn-block btn-lg">
                                                @Html.ActionLink("Let's Connect!", "About_Will", "Home")
                                            </button><br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="parallax-four">
            <h2 id="pulse">CODE MORE</h2>
            <h2 id="pulse">LAUGH MORE</h2>
            <h2 id="pulse">LIVE MORE</h2>
        </div>
    </section>
</div>