
@{
    ViewBag.Title = "Cookie Policy";
}
<div style="        background-image: url(/Resources/Images/register-login-bg.jpg);
        background-size: cover;
        position: absolute;">
    <div style="text-align: center; text-shadow:1px white;">
        <img src="~/Resources/Images/scanit.png" />
    </div>
    <div style="
        background-color: ghostwhite;
        color: #10141f;
        font-size:x-large;
        margin: 3%;
        padding: 3%;
        border: 1px solid black;
        border-radius: 30px 30px 20px 20px;
        box-shadow: 50px 45px #10141f;">
        <h1>
            Cookie Policy
        </h1>
        <p>
            We use cookies at ScanIT to improve our service for you. Some cookies we use are essential for some services to work, others are used to collect information of the use of the website (statistics) so that we can make the site more convenient and useful for you. Some cookies are temporary and will disappear when you close your browser, others are persistent and will stay on your computer for some time. We are also using some local cookies that are tied to local campaigns and which will disappear when the campaign ends.

            Some of the cookies are strictly necessary for the functionality of the site while others are used to enhance the performance and your user experience.
        </p>
        <h1>
            Strictly necessary cookies are used to:
        </h1>
        <p>
            <br />Remember what is in your shopping cart
            <br />Remember how far you are through an order
        </p>
        <h2>
            Functional cookies are used to:
        </h2>
        <p>
            <br />Remember your log-in details
            <br />Make sure you are secure when logged-in
            <br />Make sure that the web site looks consistent
            <br />Offer live chat support
        </p>
        <h2>
            Performance cookies are used to:
        </h2>
        <p>
            <br />Enhance the performance of the web site
            <br />Enhance the user experience
        </p>
        <h2>
            Targeting cookies are used to:
        </h2>
        <p>
            <br />Allow you to share and like
            <br />Send information to other websites to customize their advertisement
        </p>
    </div>

</div>