
@{
    ViewBag.Title = "FAQ";
}

<div style="        background-image: url(/Resources/Images/register-login-bg.jpg);
        background-size: cover;
        position: absolute;">
    <div style="text-align: center; text-shadow:1px white;">
        <img src="~/Resources/Images/scanit.png" />
    </div>
    <div style="
        background-color: ghostwhite;
        color: #10141f;
        font-size:x-large;
        margin: 3%;
        padding: 3%;
        border: 1px solid black;
        border-radius: 30px 30px 20px 20px;
        box-shadow: 50px 45px #10141f;">
        <h1>FAQ</h1>
        <h2>Last updated January 22, 2021</h2>
        <h3>
            How do I order from the e-shop?
        </h3>
        <p>Once you sign up, you can take a look at the product categories and subcategories. When you take a.. shine to something, simply click on it with your mouse, read all of the product information and choose the icon to add it to your cart. Then, simply follow the steps to submit your order, making sure that you add all of your info and of course, the address you want the order delivered to (for yourself or a friend, in case you want to give it as a gift) – Unless you want to come by the e-shop to pick it up yourself, make sure you also make that clear when submitting your order (yes, you can do that too!). </p>
        <h3>Will I receive the exact same product I see in the photo?</h3>
        <p>
            Of course! What you see in the photo is the exact same product you will receive. The only thing you need to do is complete your order! Leave the rest to me!
        </p>
        <h3>How can I pay for my online purchases?</h3>
        <p>
            This is very easy plus you have many choices! Choose one of the following ways:

            Cash on delivery (COD)

            Credit card (Visa, Visa Electron, MasterCard, Maestro)

            Bank account deposit (Eurobank)

            For more information click HERE
        </p>
        <h3>Are my transactions safe?</h3>
        <p>
            Www.scanit.com is committed to ensuring the security and integrity of the data it collects on the users of its website. Www.scanit.com has adopted procedures that protect the personal data that users provide on its website or provide by any other means (eg by telephone).
        </p>
        <h3>From which countries can I make online purchases?</h3>
        <p>
            The website www.scanit.com ships to all countries except Cuba, Iran, Sudan, Somalia, Syria, Yemen, and Crimea.
        </p>
        <h3>How can I be sure that my order has been received?</h3>
        <p>
            Don’t worry at all! As soon as you complete your order, you will automatically receive an e-mail confirming that we have received your order and it is being processed. This is enough for you to understand that you have followed all the correct steps and that in a few days you will receive the products you have chosen.
        </p>
        <h3>CONTRIBUTION LICENSE</h3>
        <p>
            Once you have completed your order you cannot add another item to your order. You have to make a new order and add a note in the “Comment” field so that it is connected with the previous order. You can add more items to your order within 1 hour of completing it.
        </p>
        <h3>What do I do if one of the products I ordered is delivered to me with some defect?</h3>
        <p>
            Defect? Did you say defect? This e-shop makes sure to deliver the exact product you ordered in mint condition. Nothing less than this is acceptable! This being said, IF for some reason, something happens to go wrong, no need to worry… I’m here for you! All you need to do is send the defective product back to me and I will send you another one without any extra charge!
        </p>
        <h3>What happens if I’m not home when the product is delivered?</h3>
        <p>
            Not home? No problem! We will make another two attempts to find you at home. On their first attempt to deliver, the courier service will make sure to leave you a note with all of your order info and their phone number so that you can contact them and set up a date for a second delivery… one that you know you won’t miss!
        </p>
        <h3>Is it possible to be notified of new products or special offers from the e-shop?</h3>
        <p>
            Of course it is! All you have to do is subscribe to our Newsletter. In this way you will be notified about everything you need to know about special offers and new products!
        </p>
        <h3>Can I unsubscribe from the Newsletter?</h3>
        <p>
            Anytime you want! Every e-mail you receive from the e-shop has an unsubscribe link for the Newsletter, so you can unsubscribe easily. But why would you ever want to do that?? Maybe you should reconsider? Will you miss out on the chance to be the first to learn about all the new products and special offers that are especially for you?
        </p>
        <h3>What are the delivery costs for my online order? </h3>
        <p>
            Detailed information is provided HERE
        </p>
    </div>

</div>