@{
    ViewBag.Title = "Payment methods";
}
<div style="        background-image: url(/Resources/Images/register-login-bg.jpg);
        background-size: cover;
        position: absolute;">
    <div style="text-align: center; text-shadow:1px white;">
        <img src="~/Resources/Images/scanit.png" />
    </div>
    <div style="
        background-color: ghostwhite;
        color: #10141f;
        font-size:x-large;
        margin: 3%;
        padding: 3%;
        border: 1px solid black;
        border-radius: 30px 30px 20px 20px;
        box-shadow: 50px 45px #10141f;">
        <h1>
            Payment Methods
        </h1>
        <p>
            Payment Methods:
            <br />
            You can choose one of the following payment methods to make your purchases. Follow the right way for you!
        </p>
        <h1>
            Payment upon receipt of products
        </h1>
        <p>
            You pay the price of your order to the courier company employee and you will be charged an additional 2€ for the delivery costs. Valid only for shipments within Greece.
        </p>
        <h2>
            Deposit to account
        </h2>
        <p>
            You can, if you wish, pay for your order by deposit at any bank branch or by e-banking. The deposit can be made within 3 working days of the order. As long as the payment is not completed within this time the order is cancelled. A prerequisite for the deposit is to indicate the name and number of the order in the statement of reasons. With regard to transaction costs, the principal shall be charged.
        </p>
        <h2>
            Credit card
        </h2>
        <p>
            You pay using your debit or credit card through Eurobank's secure and controlled environment.
            <br />
            <br />Cards accepted:
            <br />
            <br />Visa
            <br />Mastercard
            <br />Maestro
            <br />Ability to pay with 3 interest-free installments on a debit card over 100€.
        </p>
    </div>
</div>