
@{
    ViewBag.Title = "Privacy Policy";
}


<div style="        background-image: url(/Resources/Images/register-login-bg.jpg);
        background-size: cover;
        position: absolute;">
    <div style="text-align: center; text-shadow:1px white;">
        <img src="~/Resources/Images/scanit.png" />
    </div>
    <div style="
        background-color: ghostwhite;
        color: #10141f;
        font-size:x-large;
        margin: 3%;
        padding: 3%;
        border: 1px solid black;
        border-radius: 30px 30px 20px 20px;
        box-shadow: 50px 45px #10141f;">
        <h1>
            Introduction
        </h1>
        <p>
            Welcome to the privacy policy for www.designbyday.co.uk.

            Design By Day Limited respects your privacy and is committed to protecting your Personal Data. This privacy policy will inform you as to how we look after your Personal Data when you visit our website (regardless of where you visit it from) and tell you about your privacy rights and how the law protects you.

            This privacy policy is provided in a layered format so you can click through to the specific areas set out below. Please also use the Glossary below to understand the meaning of some of the terms used.

        </p>
        <h1>
            1. Important information and who we are

        </h1>

        <p>
            Purpose of this privacy policy
            This privacy policy aims to give you information on how Design By Day Limited collects and processes your Personal Data through your use of this website, including any data you may provide through this website when you sign up to our newsletter, make an enquiry, request other marketing material, ask us to pitch for a project, engage with us as a client, or take part in a competition or survey.

            This website is not intended for children and we do not knowingly collect data relating to children.

            It is important that you read this privacy policy together with any other fair processing information we may provide on specific occasions when we are collecting or processing Personal Data about you so that you are fully aware of how and why we are using your data. This privacy policy supplements other notices and privacy policies and is not intended to override them.

        </p>
        <h2>
            Controller
        </h2>

        <p>
            Design By Day Limited is the controller and responsible for your Personal Data (collectively referred to as “Design By Day”, “we”, “us” or “our” in this privacy policy).
            If you have any questions about this privacy policy, including any requests to exercise your legal rights as referred to below, please contact us using the details set out below.
        </p>
        <h2>
            Contact details
        </h2>

        <p>
            If you have any questions about this privacy policy or our privacy practices, please contact us in the following ways:

            Full name of legal entity: Design By Day Limited
            Email address: hello@designbyday.co.uk
            Postal address: Suite 4a 22 Lever Street, Manchester, England, M1 1EA
            Telephone number: 0161 228 2686
            You have the right to make a complaint at any time to the Information Commissioner’s Office (ICO), the UK supervisory authority for data protection issues (www.ico.org.uk). We would, however, appreciate the chance to deal with your concerns before you approach the ICO so please contact us in the first instance.
        </p>
        <h2>
            Changes to the privacy policy and your duty to inform us of changes
        </h2>
        <p>
            We keep our privacy policy under regular review. This version was last updated on 2nd October 2020. Historic versions can be obtained by contacting us.
        </p>
        <p>
            It is important that the Personal Data we hold about you is accurate and current. Please keep us informed if your Personal Data changes during your relationship with us.
            Third-party links
        </p>
        <p>
            This website may include links to third-party websites, plug-ins and applications. Clicking on those links or enabling those connections may allow third parties to collect or share data about you. We do not control these third-party websites and are not responsible for their privacy statements. When you leave our website, we encourage you to read the privacy policy of every website you visit to familiarise yourself with how they approach your privacy and the processing of your Personal Data.
        </p>
        <h1>
            2. The data we collect about you
        </h1>
        <p>
            Personal Data means any information about an individual from which that person can be identified. It does not include data where the identity has been removed (anonymous data).
        </p>
        <p>
            We may collect, use, store and transfer different kinds of Personal Data about you which we have grouped together as follows:
            <ul>
                <li>
                    Identity Data includes first name, maiden name, last name, username or similar identifier, marital status, title, date of birth and gender.
                </li>
                <li>
                    Contact Data includes billing address, delivery address, email address and telephone numbers
                </li>
                <li>
                    Technical Data includes internet protocol (IP) address, your login data, browser type and version, time zone setting and location, browser plug-in types and versions, operating system and platform, and other technology on the devices you use to access this website.
                </li>
                <li>
                    Profile Data includes details of your engagement with us, your interests, preferences, feedback and survey responses
                </li>
                <li>Usage Data includes information about how you use our website.</li>
                <li>Marketing and Communications Data includes your preferences in receiving marketing from us and our third parties and your communication preferences.</li>
            </ul>
        </p>
        <p>
            We also collect, use and share Aggregated Data such as statistical or demographic data for any purpose. Aggregated Data could be derived from your Personal Data but is not considered Personal Data in law as this data will not directly or indirectly reveal your identity. For example, we may aggregate your Usage Data to calculate the percentage of users accessing a specific website feature. However, if we combine or connect Aggregated Data with your Personal Data so that it can directly or indirectly identify you, we treat the combined data as Personal Data which will be used in accordance with this privacy policy.
        </p>
        <p>
            We do not collect any Special Categories of Personal Data about you (this includes details about your race or ethnicity, religious or philosophical beliefs, sex life, sexual orientation, political opinions, trade union membership, information about your health, and genetic and biometric data). Nor do we collect any information about criminal convictions and offences.
        </p>
        <h3>
            If you fail to provide Personal Data
        </h3>
        <p>
            Where we need to collect Personal Data by law, or under the terms of a contract we have with you, and you fail to provide that data when requested, we may not be able to perform the contract we have or are trying to enter into with you (for example, to provide you with services). In this case, we may have to cancel a product or service you have with us but we will notify you if this is the case at the time.
        </p>
        <h1>
            3. How is your Personal Data collected?
        </h1>
        <p>
            We use different methods to collect data from and about you including through:
            <br />
            Direct interactions. You may give us your Identity and Contact by filling in forms or by corresponding with us by post, phone, email or otherwise. This includes Personal Data you provide when you:
            sign up to our newsletter
            Automated technologies or interactions. As you interact with our website, we will automatically collect Technical Data about your equipment, browsing actions and patterns. We collect this Personal Data by using cookies, server logs and other similar technologies. We may also receive Technical Data about you if you visit other websites employing our cookies. Please see our cookie policy https://www.designbyday.co.uk/cookie-policy/ for further details.
            <br />Third parties or publicly available sources. We will receive Personal Data about you from various third parties and public sources as set out below:
            <br />Technical Data from the following parties:
            <br />(a) analytics providers such as Google based outside the EU;
            <br />(b) advertising networks based inside or outside the EU; and
            <br />(c) search information providers such as Google based inside or outside the EU.
            <br />Identity and Contact Data from data brokers, aggregators and lead generation services based inside or outside the EU.
            <br />Identity and Contact Data from publicly available sources such as Companies House and the Electoral Register based inside the EU.
        </p>
        <h1>
            4. How we use your Personal Data
        </h1>
        <p>
            We will only use your Personal Data when the law allows us to. Most commonly, we will use your Personal Data in the following circumstances:
        </p>
        <p>
            Where we need to perform the contract we are about to enter into or have entered into with you.
            Where it is necessary for our legitimate interests (or those of a third party) and your interests and fundamental rights do not override those interests.
            Where we need to comply with a legal obligation.
            Please see the Glossary and section entitled “Lawful Basis” below to find out more about the types of lawful basis that we will rely on to process your Personal Data. Generally, we do not rely on consent as a legal basis for processing your Personal Data although we will get your consent before sending third party direct marketing communications to you via email or text message. You have the right to withdraw consent to marketing at any time by contacting us.
        </p>
        <p>
            Purposes for which we will use your Personal Data
            We have set out below, in a table format, a description of all the ways we plan to use your Personal Data, and which of the legal bases we rely on to do so. We have also identified what our legitimate interests are where appropriate.
        </p>
    </div>
</div>