
@{
    ViewBag.Title = "Return Policy";
}
<div style="        background-image: url(/Resources/Images/register-login-bg.jpg);
        background-size: cover;
        position: absolute;">
    <div style="text-align: center; text-shadow:1px white;">
        <img src="~/Resources/Images/scanit.png" />
    </div>
    <div style="
        background-color: ghostwhite;
        color: #10141f;
        font-size:x-large;
        margin: 3%;
        padding: 3%;
        border: 1px solid black;
        border-radius: 30px 30px 20px 20px;
        box-shadow: 50px 45px #10141f;">
        <h1>
            E-shop return policy
        </h1>
        <p>
            Terms and conditions described in this policy are applied at all products purchased from the H.M. Housemarket (Greece)
        </p>
        <h1>
            You have 40 days to change your mind
        </h1>
        <p>
            If you change your mind, you can return the products you have ordered within 40 days, with your purchase receipt, your order form, your confirmation mail and your credit card stub (in case you have paid with you credit card). To return your products visit the nearest SCANIT store. You can also place your request by completing the withdrawal form at cs.ecommerce@SCANIT.gr. For any information you need, you can contact us at 801 11 22722 and 210 35 43 403.
            If you cannot return the products you have bought from the SCANIT online store (www.scanit.com), our service partners can return them for you with an extra charge. The charge for your products transfer depends on your postal code and the product weight.
            Regardless of the way you choose to apply for products return, the withdrawal request applies from the date you applied for the product withdrawal.
            The products you wish to return must be in excellent condition and the package closed. You are responsible for the products return fee, unless the product falls within the guarantee issue due to defective construction. In case you open the product package, make sure to return it in excellent condition along with all its parts and accessories. You agree to maintain the products condition from the moment they are delivered to you until you deliver them at the ScanIT store or to our service partners.
        </p>
        <h2>
            Returned products delivery
        </h2>
        <p>
            In case you wish to return products because you changed your mind, you are charged with the immediate product return fee. The returned products pick up can take place only at the address you have stated for their delivery and which you have provided to us in writing.
        </p>
        <p>
            You agree to provide H.M. Housemarket Ltd with as many details as possible regarding the products delivery address, the floor, possible access difficulties for our service partners, elevators, narrow stairs et. In order to facilitate the delivery procedure you agree to provide suitable access at the delivery place.
        </p>
        <p>
            If our service partners think the product delivery from your space, may cause damages at your property, they will inform you and write it on the delivery form. You can instruct our service partners to collect your products despite this recommendation, however we will not be responsible for any damage that can occur to your property or the products, given the fact the products collection will take place with extra caution and care.
        </p>
        <p>
            You agree to give our service partners all products you wish to return, including all parts and accessories they are constituted of. During the products return you will sign a delivery form certifying the delivery took place. You will receive the delivery form from our service partners.
        </p>
        <p>
            If you cannot be present during the product delivery, you can appoint a representative to complete the process for you. The representative must be over 18 years old and capable to supervise the product delivery instead of you.
        </p>
    </div>
</div>