@model ScanIT.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Under Construction";
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}
<h2 style="text-align:center;">
    @ViewBag.Title
</h2>
<p style="text-align:center;">Under Construction</p>
@Scripts.Render("~/bundles/jqueryval") }

